* {
  margin:0; 
}

.App {
  text-align: center;
  background-color: #262b35;
  color:rgb(209, 208, 173);
  height:825px;
}

.Sig-Req-Page {
  text-align: center;
  background-color: #262b35;
  color:rgb(209, 208, 173);
  height:auto;

}

.App-header {
  background-color: #262b35;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.upload-docs {
  text-decoration: under;
  color:rgb(209, 208, 173);
}

.logout {
  background-color: rgb(209, 208, 173);
  border-radius: 10px;
  width: 100px;
  margin-top: 20px;
  color:rgb(0, 0, 0);
  padding: 5px;
  font-size: 15px;

}

.delete {
  margin-top: 10px;
  background-color: #975c5c;
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
}

.pdftext {
  color: black;
  font-size: 15px;
  font-weight: bold;
}

.red-sigreq {
  color: rgb(255, 230, 0);
}

.noDocsToSign {
  margin-top: 300px;
  color: rgb(235, 192, 0);
  font-size: 30px;
  font-family: "DejaVu Sans Mono", monospace;
}

.toSignDocs {
  color: rgb(255, 255, 255);
  margin-top: 50px;
  font-size: 25px;
  font-family: "DejaVu Sans Mono", monospace;

}

.sig-req {
  margin-bottom: 70px;
  font-family:  "DejaVu Sans Mono", monospace;
}

.sig-req2 {
  font-size: 32px;
  font-family:  "DejaVu Sans Mono", monospace;
}

.sig-req3 {
  font-size: 32px;
  margin-right: 725px;
  font-family:  "DejaVu Sans Mono", monospace;
}

.headdoc {
  color: rgb(250, 209, 74);
}

.buttontosign {
  margin-left: 10px;
  background-color: rgb(102, 165, 121);
  width: 70px;
  font-weight: bold;
}

.container {
  background-color: rgb(151, 144, 144);
  height:700px;
  width: 800px;
  margin-left:340px;

}

.hr-sigreq {
  margin-top:15px;
  border: 3px solid rgb(209, 208, 173);
}

.nodocstosign {
  margin-top: 110px;
  margin-bottom: 100px;
  color: rgb(235, 192, 0);
  font-size: 20px;
  font-family: "DejaVu Sans Mono", monospace;
}
.nodocssent {
  margin-top: 70px;
  margin-bottom: 50px;
  color: rgb(235, 192, 0);
  font-size: 20px;
  font-family: "DejaVu Sans Mono", monospace;
}

.titles-temp {
  font-family: "DejaVu Sans Mono", monospace;
  margin:10px;
  font-size: 30px;
  color: rgb(209, 191, 28);


}

.titles-manage {
  font-family: "DejaVu Sans Mono", monospace;
  margin:10px;
  font-size: 45px

}

.hr-manage {
  margin-top:5px;
  border: 3px solid #ffe13a;
}

.buttontoview {
  margin-left: 10px;
  background-color: rgb(243, 241, 220);
  width: 70px;
  font-weight: bold;
}
.buttontoreject {
  margin-left: 10px;
  background-color: rgb(168, 71, 71);
  width: 70px;
  font-weight: bold;
}

.backclick {
  margin-right: 140px;
  font-size: 20px;
  font-family: "DejaVu Sans Mono", monospace;
  color: rgb(0, 0, 0);
  background-color: rgb(231, 199, 95);
}

.backclick5 {
  position: absolute;
  left: 3px;
  font-size: 20px;
  font-family: "DejaVu Sans Mono", monospace;
  color: rgb(0, 0, 0);
  background-color: rgb(231, 199, 95);
}



.title-sends {
  font-size: 32px;
  margin-right: 750px;
  margin-bottom: 100px;
  font-family: "DejaVu Sans Mono", monospace;
}

.rejectbody {
  margin-top: 100px;
  font-family: "DejaVu Sans Mono", monospace;
  font-size: 25px;
}

.btnyes {
  margin-top:30px;
  margin-right: 10px;
  font-size: 20px;
  width:60px;
  background-color: rgb(139, 204, 122);
  font-weight: bold;
  
}

.btnno {
  margin-top:30px;
  width:60px;
  font-size: 20px;
  background-color: rgb(212, 106, 102);
  font-weight: bold;
  
}

.rejected {
  color: red; 
}

.completed {
  color: green;
}

.instructions {
  font-weight: bold;
  font-size: 25px;
  margin-right: 750px;
  margin-bottom: 70px;
  margin-top: 95px;
  font-family: "DejaVu Sans Mono", monospace;
}

.steps {
  justify-content: left;
  font-size: 20px;
  margin-right: 750px;
  margin-top: 120px;
  margin-bottom: 50px;
  font-family: "DejaVu Sans Mono", monospace;
}

.stepsnum {
  font-weight: bold;
  justify-content: left;
  color: rgb(228, 192, 92);
  font-size: 25px;
  font-family: "DejaVu Sans Mono", monospace;
}

.title-view {
  font-family: "DejaVu Sans Mono", monospace;
  margin:10px;
  font-size: 25px
}

.backclick2 {
  font-size: 20px;
  margin-right: 510px;
  font-family: "DejaVu Sans Mono", monospace;
  color: rgb(0, 0, 0);
  background-color: rgb(231, 199, 95);
}

.documenthistory {
  height: auto;
}

.signedandsent {
  font-weight: bold;
  justify-content: center;
  margin-right: 750px;
  color: rgb(55, 138, 34);
  font-size: 25px;
  font-family: "DejaVu Sans Mono", monospace;
}

.signedandsentupload {
  font-weight: bold;
  justify-content: center;
  margin-top: 200px;
  color: rgb(51, 211, 11);
  font-size: 45px;
  font-family: URW Chancery L, cursive;
}

.signedandsentupload2 {
  font-weight: bold;
  justify-content: center;
  margin-top: 50px;
  color: rgb(252, 226, 84);
  font-size: 25px;
  font-family: "DejaVu Sans Mono", monospace;
  text-decoration: underline;
}

.signedandsentupload2:hover{
  cursor: pointer;
}



.tablecss {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  margin-top: 20px;
}
  
table {
  border: 5px solid #e6c946c5;
  width: 1300px;
  height: 200px;
}
  
th {
  border-bottom: 4px solid rgb(0, 0, 0);
}
  
td {
  text-align: center;
}

.tableheader {
  font-size: 33px;
  background-color: #e6c946c5;
  color: rgb(0, 0, 0);
}


.tablehead {
  color: black;
  background-color:rgb(236, 225, 225);
}