* {
  margin:0; 
}

.App {
  text-align: center;
  background-color: #262b35;
  color:rgb(209, 208, 173);
  height:825px;
}

.Sig-Req-Page {
  text-align: center;
  background-color: #262b35;
  color:rgb(209, 208, 173);
  height:auto;

}

.App-header {
  background-color: #262b35;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.upload-docs {
  text-decoration: under;
  color:rgb(209, 208, 173);
}

.logout {
  background-color: rgb(209, 208, 173);
  border-radius: 10px;
  width: 100px;
  margin-top: 20px;
  color:rgb(0, 0, 0);
  padding: 5px;
  font-size: 15px;

}

.delete {
  margin-top: 10px;
  background-color: #975c5c;
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
}

.pdftext {
  color: black;
  font-size: 15px;
  font-weight: bold;
}

.red-sigreq {
  color: rgb(255, 230, 0);
}

.noDocsToSign {
  margin-top: 300px;
  color: rgb(235, 192, 0);
  font-size: 30px;
  font-family: "DejaVu Sans Mono", monospace;
}

.toSignDocs {
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-family: "DejaVu Sans Mono", monospace;
  position: absolute;
}

.sig-req {
  margin-bottom: 70px;
  font-family:  "DejaVu Sans Mono", monospace;
}

.headdoc {
  color: rgb(250, 209, 74);
}

.buttontosign {
  margin-left: 10px;
  background-color: rgb(240, 227, 114);
  width: 70px;
  font-weight: bold;
}