* {
  margin:0; 
}

.App {
  text-align: center;
  background-color: #282c34;
  height: 1000px;
  color:rgb(209, 208, 173);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.upload-docs {
  text-decoration: under;
  color:rgb(209, 208, 173);
}

.logout {
  background-color: rgb(209, 208, 173);
  border-radius: 10px;
  width: 100px;
  margin-top: 20px;
  color:rgb(0, 0, 0);
  padding: 5px;
  font-size: 15px;

}

.delete {
  margin-top: 10px;
  background-color: #975c5c;
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
}

.pdftext {
  color: black;
  font-size: 15px;
  font-weight: bold;
}
