* {
    margin: 0;
}

.signup-form {
    font-family: "DejaVu Sans Mono", monospace;
  }

.login-logintext{
    padding-bottom: 20px;
    padding-top: 15px;
}

.field {
    padding: 5px;
}

.inputs{
    display: flexbox;
    background-color: rgb(214, 235, 191)

}

.log-in-button {
    width: 100px;
    margin-bottom: 20px; 
    margin-top: 20px; 
}

.span-label{
    font-size:14px;
    font-weight: bold;
}

.err{
    margin-top:10px;
    color: rgb(255, 0, 0);
}

.err-notfound {
    margin-top:10px;
    margin-right: 730px;
    color: rgb(255, 0, 0);
}


.signup-form {
    background-color: #202020;
    height:1000px;
}

.login-logintext {
    font-size:100px;
    font-family: "Chalkduster", fantasy;
    color: rgb(209, 208, 173);
}

.label {
    color: rgb(209, 208, 173);
}

.link-login {
    color: rgb(209, 208, 173);
    text-decoration: underline;
    text-decoration: bold;
    font-family: "Courier", monospace;
    font-size: 15px;
  }

.label-fname {
    margin-right: 59px;
}

.label-lname {
    margin-right: 68px;
}
.label-company {
    margin-right: 97px;

}

.label-jobtitle {
    margin-right: 77px;
}

.label-email {
    margin-right: 105px;
}

.label-password {
    margin-right: 76px;
}

.label-profile {
    margin-bottom: 10px;
}

.label-profile2 {
    font-family: Courier New, monospace;
}

.signup-text {
    font-size:100px;
    font-family: "Chalkduster", fantasy;
    margin-bottom: 50px;
    margin-top:0px;
}
  .avatar-zone{
    width:150px;
    height:150px;
    border-radius:50%; 
    border: 4px solid rgb(209, 208, 173);
    background-color:#CCCCCC;
    margin-bottom: 30px;
}
.overlay-layer{
    width:100px;
    height:100px;
    position:absolute;
    text-align:center;
    line-height:40px;
    opacity:0.3;
}

.overlay-layer2{
    width:250px;
    height:250px;
    position: absolute;
    top: 285px;
    border-radius:50%; 
    border: 4px solid rgb(209, 208, 173);
    line-height:40px;
    background-color:#7f2121;
    opacity:0.0;
}  

.upload_btn{
    position:absolute;
    width:150px;
    height:150px;
    border-radius:50%; 
    z-index:10;
    opacity:0;
}

.upload_btn2{
    position:absolute;
    top: 285px;
    width:250px;
    height:250px;
    border-radius:50%; 
    z-index:10;
    opacity:0.0;
}


.savechanges {
    background-color: rgb(104, 206, 73);
    border-radius:0px;
    width: 200px;
    color:rgb(0, 0, 0);
    font-size: 15px;
    margin-bottom: 5px;
    margin-left: 10px;
  
  }

  .progress-profile {
    width: 200px;
    color:rgb(209, 208, 173);
    font-size: 15px;
    margin-bottom: 5px;
    margin-left: 10px;
  
  }

