form{
    margin: 15px 0px;
  }
  
  .viewer{
    background-color: #e4e4e4;
    display: inline-block;
    justify-content: center;
    height: 800px;
    width: 60%;
    margin-bottom: 10px;

  }
  
  span{
    margin-top: 3px;
  }